/* Write your CSS here */
.team-matches-bg-container {
  min-height: 100vh;
  background-size: cover;
  display: flex;

  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.team-matches-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recent-matches-cards-list-container {
  width: 96%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.team-banner {
  width: 95%;
  align-self: center;
}
.main-heading {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Bree Serif';
  width: 95%;
  align-self: left;
  text-align: left;
}
